In [1]:
import pandas as pd
import numpy as np 
import sqlalchemy

In [ ]:
cc = """
select user_id, coupon_code from user_registeration_coupon_code_details where 
coupon_code in ('ESSMART','roinet','gramophone','yodacart','buyume')
"""
f1, cc_t, error_reason = data_fetch_v2(cc,  host="13.126.97.63")

In [ ]:
user = """
select id, phone_number, pannumber, is_active from user
"""
f1, user_t, error_reason = data_fetch_v2(user,  host="13.126.97.63")

In [12]:
cc_t

                                  user_id coupon_code
0    e3023c13-bc6b-4b7b-b08d-ad535ca8ba85      BUYUME
1    8fb0c9e6-a40c-445a-8468-81527f10ff2a      BUYUME
2    f70eb9aa-d40e-4e57-8611-ed9605b5b6de      BUYUME
3    0356a1a9-53a9-4de8-8f5d-839a55566dbf      BUYUME
4    7e0fe297-528b-44fa-93b7-e4048893ae85      BUYUME
..                                    ...         ...
128  0af3a0e6-f945-48b9-9255-5fc77dc77953    YODACART
129  de22efc7-7243-48de-a9a8-f5cc966244cd    YODACART
130  b8b074d2-3cf5-4444-8427-23bb79122385    YODACART
131  1115b8d8-8cde-445e-be10-19f33f2dd9a7    YODACART
132  995150d6-bed8-42db-a982-e6f306120330    YODACART

[133 rows x 2 columns]

In [13]:
df1 = cc_t.merge(user_t, how="inner", left_on = "user_id", right_on = "id")
df1

,user_id,coupon_code,id,phone_number,pannumber,is_active
0,e3023c13-bc6b-4b7b-b08d-ad535ca8ba85,BUYUME,e3023c13-bc6b-4b7b-b08d-ad535ca8ba85,9.875000e+09,None,0
1,8fb0c9e6-a40c-445a-8468-81527f10ff2a,BUYUME,8fb0c9e6-a40c-445a-8468-81527f10ff2a,7.014482e+09,None,0
2,f70eb9aa-d40e-4e57-8611-ed9605b5b6de,BUYUME,f70eb9aa-d40e-4e57-8611-ed9605b5b6de,9.989264e+09,None,-6
3,0356a1a9-53a9-4de8-8f5d-839a55566dbf,BUYUME,0356a1a9-53a9-4de8-8f5d-839a55566dbf,9.980264e+09,AOUPC1857R,1
4,7e0fe297-528b-44fa-93b7-e4048893ae85,BUYUME,7e0fe297-528b-44fa-93b7-e4048893ae85,9.718903e+09,AJKPY9346E,1
...,...,...,...,...,...,...
128,0af3a0e6-f945-48b9-9255-5fc77dc77953,YODACART,0af3a0e6-f945-48b9-9255-5fc77dc77953,9.820904e+09,AHLPT4385K,1
129,de22efc7-7243-48de-a9a8-f5cc966244cd,YODACART,de22efc7-7243-48de-a9a8-f5cc966244cd,9.594603e+09,AQOPR9948Q,1
130,b8b074d2-3cf5-4444-8427-23bb79122385,YODACART,b8b074d2-3cf5-4444-8427-23bb79122385,8.888909e+09,None,-6
131,1115b8d8-8cde-445e-be10-19f33f2dd9a7,YODACART,1115b8d8-8cde-445e-be10-19f33f2dd9a7,9.834441e+09,ESTPK8325P,1
132,995150d6-bed8-42db-a982-e6f306120330,YODACART,995150d6-bed8-42db-a982-e6f306120330,9.370071e+09,AAWPQ1604Q,1

In [16]:
df1.drop(columns=["id"])

,user_id,coupon_code,phone_number,pannumber,is_active
0,e3023c13-bc6b-4b7b-b08d-ad535ca8ba85,BUYUME,9.875000e+09,None,0
1,8fb0c9e6-a40c-445a-8468-81527f10ff2a,BUYUME,7.014482e+09,None,0
2,f70eb9aa-d40e-4e57-8611-ed9605b5b6de,BUYUME,9.989264e+09,None,-6
3,0356a1a9-53a9-4de8-8f5d-839a55566dbf,BUYUME,9.980264e+09,AOUPC1857R,1
4,7e0fe297-528b-44fa-93b7-e4048893ae85,BUYUME,9.718903e+09,AJKPY9346E,1
...,...,...,...,...,...
128,0af3a0e6-f945-48b9-9255-5fc77dc77953,YODACART,9.820904e+09,AHLPT4385K,1
129,de22efc7-7243-48de-a9a8-f5cc966244cd,YODACART,9.594603e+09,AQOPR9948Q,1
130,b8b074d2-3cf5-4444-8427-23bb79122385,YODACART,8.888909e+09,None,-6
131,1115b8d8-8cde-445e-be10-19f33f2dd9a7,YODACART,9.834441e+09,ESTPK8325P,1
132,995150d6-bed8-42db-a982-e6f306120330,YODACART,9.370071e+09,AAWPQ1604Q,1

In [19]:
df1["phone_number"] = df1["phone_number"].astype(str)

In [20]:
df1["phone_number"] = df1["phone_number"].str[:10]
df1

,user_id,coupon_code,id,phone_number,pannumber,is_active
0,e3023c13-bc6b-4b7b-b08d-ad535ca8ba85,BUYUME,e3023c13-bc6b-4b7b-b08d-ad535ca8ba85,9875000143,None,0
1,8fb0c9e6-a40c-445a-8468-81527f10ff2a,BUYUME,8fb0c9e6-a40c-445a-8468-81527f10ff2a,7014481581,None,0
2,f70eb9aa-d40e-4e57-8611-ed9605b5b6de,BUYUME,f70eb9aa-d40e-4e57-8611-ed9605b5b6de,9989263620,None,-6
3,0356a1a9-53a9-4de8-8f5d-839a55566dbf,BUYUME,0356a1a9-53a9-4de8-8f5d-839a55566dbf,9980263620,AOUPC1857R,1
4,7e0fe297-528b-44fa-93b7-e4048893ae85,BUYUME,7e0fe297-528b-44fa-93b7-e4048893ae85,9718903103,AJKPY9346E,1
...,...,...,...,...,...,...
128,0af3a0e6-f945-48b9-9255-5fc77dc77953,YODACART,0af3a0e6-f945-48b9-9255-5fc77dc77953,9820904448,AHLPT4385K,1
129,de22efc7-7243-48de-a9a8-f5cc966244cd,YODACART,de22efc7-7243-48de-a9a8-f5cc966244cd,9594602797,AQOPR9948Q,1
130,b8b074d2-3cf5-4444-8427-23bb79122385,YODACART,b8b074d2-3cf5-4444-8427-23bb79122385,8888908654,None,-6
131,1115b8d8-8cde-445e-be10-19f33f2dd9a7,YODACART,1115b8d8-8cde-445e-be10-19f33f2dd9a7,9834440947,ESTPK8325P,1
132,995150d6-bed8-42db-a982-e6f306120330,YODACART,995150d6-bed8-42db-a982-e6f306120330,9370070685,AAWPQ1604Q,1

In [22]:
df1["phone_number"].count()

np.int64(133)

In [ ]:
#import liabraries
import pandas as pd
from datetime import datetime

In [ ]:

def get_user_journey_metrics(conn):
    # Load base tables
    users_df = pd.read_sql("SELECT * FROM user", conn)
    
    # Get latest bureau consent
    bureau_consent_df = pd.read_sql("""
        SELECT user_id, consent_type, fl_consent 
        FROM user_app_consent_master 
        WHERE id IN (
            SELECT MAX(id) 
            FROM user_app_consent_master 
            WHERE consent_type = 'bureau' 
            GROUP BY user_id
        )
    """, conn)
    
    # Get latest OTP verification
    otp_df = pd.read_sql("""
        SELECT user_id 
        FROM otp_api_partner_config 
        WHERE id IN (
            SELECT MAX(id) 
            FROM otp_api_partner_config 
            WHERE event = 'signup' 
            GROUP BY user_id
        )
    """, conn)
    
    # Get latest questionnaire responses
    questionnaire_df = pd.read_sql("""
        SELECT 
            user_id,
            CASE 
                WHEN json_extract(questions_response, '$[0].question_response[0].options[0].field_text') IS NOT NULL 
                THEN json_unquote(json_extract(questions_response, '$[0].question_response[0].options[0].field_text'))
                ELSE json_unquote(json_extract(questions_response, '$[0].options[0].option_text'))
            END as language
        FROM questionnaire_response 
        WHERE id IN (
            SELECT MAX(id) 
            FROM questionnaire_response 
            GROUP BY user_id
        )
    """, conn)
    
    # Load other required tables with latest records
    address_df = pd.read_sql("SELECT DISTINCT user_id FROM user_address", conn)
    crif_df = pd.read_sql("""
        SELECT user_id, status 
        FROM crif_stage2 
        WHERE id IN (
            SELECT MAX(id) 
            FROM crif_stage2 
            GROUP BY user_id
        )
    """, conn)
    
    bureau_check_df = pd.read_sql("""
        SELECT user_id, approved 
        FROM linedetails 
        WHERE id IN (
            SELECT MAX(id) 
            FROM linedetails 
            WHERE purpose = 'bureaucheck' 
            GROUP BY user_id
        )
    """, conn)
    
    postkyc_df = pd.read_sql("""
        SELECT user_id, approved 
        FROM linedetails 
        WHERE id IN (
            SELECT MAX(id) 
            FROM linedetails 
            WHERE purpose = 'postkyc' 
            GROUP BY user_id
        )
    """, conn)
    
    sanction_df = pd.read_sql("SELECT * FROM sanction", conn)
    
    merchant_payments_df = pd.read_sql("""
        SELECT user_id, loan_start_date, utr 
        FROM merchant_payments 
        WHERE id IN (
            SELECT MIN(id) 
            FROM merchant_payments 
            WHERE status = 'success' 
            GROUP BY user_id
        )
    """, conn)
    
    coupon_df = pd.read_sql("SELECT user_id, coupon_code FROM user_registeration_coupon_code_details", conn)
    wrongly_b2b_df = pd.read_sql("SELECT pan FROM asp_playground.wrongly_b2b_preapproved", conn)
    
    # Merge all dataframes
    result_df = users_df.merge(coupon_df, left_on='id', right_on='user_id', how='left')\
        .merge(bureau_consent_df, left_on='id', right_on='user_id', how='left')\
        .merge(otp_df, left_on='id', right_on='user_id', how='left')\
        .merge(questionnaire_df, left_on='id', right_on='user_id', how='left')\
        .merge(address_df, left_on='id', right_on='user_id', how='left')\
        .merge(crif_df, left_on='id', right_on='user_id', how='left')\
        .merge(bureau_check_df, left_on='id', right_on='user_id', how='left')\
        .merge(postkyc_df, left_on='id', right_on='user_id', how='left')\
        .merge(sanction_df, left_on='id', right_on='user_id', how='left')\
        .merge(merchant_payments_df, left_on='id', right_on='user_id', how='left')
    
    # Filter out wrongly pre-approved B2B users and specific coupon codes
    result_df = result_df[
        (~result_df['pannumber'].isin(wrongly_b2b_df['pan'])) &
        (result_df['coupon_code'].isin(['ESSMART', 'roinet', 'gramophone', 'yodacart', 'buyume']))
    ]
    
    # Convert created_at to date
    result_df['created_at'] = pd.to_datetime(result_df['created_at']).dt.strftime('%Y-%m-%d')
    
    # Group by date and coupon code with aggregations
    metrics_df = result_df.groupby(['created_at', 'coupon_code']).agg({
        'phone_number': 'count',
        'fl_consent': lambda x: (x == 1).sum(),
        'user_id_x': lambda x: x.notna().sum(),  # OTP triggered
        'is_active': lambda x: (x == 1).sum(),
        'pannumber': lambda x: ((result_df['is_active'] == 1) & result_df['pannumber'].notna()).sum(),
        'dob': lambda x: ((result_df['is_active'] == 1) & result_df['dob'].notna()).sum(),
        'gender': lambda x: ((result_df['is_active'] == 1) & result_df['gender'].notna()).sum(),
        'language': 'count',
        'email': lambda x: ((result_df['is_active'] == 1) & result_df['email'].notna()).sum(),
        'user_id_y': 'count',  # completed address
        'status': lambda x: (x == 'S11').sum(),  # Need alternate number
        'status': lambda x: (x == 'S10').sum(),  # CRIF S10 users
        'approved_x': lambda x: (x == 1).sum(),  # Bureau approved
        'approved_x': lambda x: (x == 0).sum(),  # Bureau rejected
        'approved_x': lambda x: (x == -1).sum(),  # Bureau manual review
        'approved_y': lambda x: (x == 1).sum(),  # KYC done
        'user_id': 'count',  # sanction created
        'is_enach_setup_required': lambda x: (x == 1).sum(),
        'is_enach_setup_done': lambda x: (x == 1).sum(),
        'fl_active': lambda x: (x == 1).sum(),
        'loan_start_date': lambda x: x.notna().sum(),
        'utr': lambda x: x.notna().sum()
    }).reset_index()
    
    # Rename columns to match SQL query
    metrics_df.columns = [
        'created_at', 'coupon_code', 'phone_number_entered', 'bureau_consent_given',
        'OTP_Triggered', 'otp_triggered_and_verifed', 'PAN_entered', 'DOB_entered',
        'gender_entered', 'q_language_entered', 'email_entered', 'completed_address',
        'Need_alternate_number_for_bureau', 'crif_S10_users', 'user_approved_in_bureau',
        'user_rejected_in_bureau', 'user_in_bureau_manual_review', 'kyc_done',
        'sanction_created', 'nach_required', 'nach_done', 'line_activated',
        'txn_requested', 'txn_completed'
    ]
    
    return metrics_df.sort_values(['created_at', 'coupon_code'])

# Example usage
if __name__ == "__main__":
    # Replace with your database connection
    
    from sqlalchemy import create_engine
    engine = create_engine('mysql://"vishnupriya":password@host/database')
    
    dataframe = get_user_journey_metrics(engine)
    print(dataframe.head())